.navbar-article {
  background-color: #ffffff;
  border-bottom: 1px solid #e8e0d8;
  padding: 0.5rem 0;
  
}

.navbar-article ul {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  gap: 1.5rem !important;
  list-style: none !important;
  padding: 0 !important;
  margin:  0 !important;
}

.navbar-article a {
  text-decoration: none !important;
  color: #555555 ;
  font-size: 0.85rem !important;
  font-weight: 600 !important;
 
}

.navbar-article a:hover {
  color: #f4a261 !important;
}

.nav-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contato{
  align-items: flex-end;
}
.button-newsletter{
 color: #f4a261 !important;
}




